input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-ms-clear {
    display: none;
}

form hr {
    margin: 1rem 0;
    color: var(--border);
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 1;
}

.form-div .body-head h4 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
    margin-bottom: 5px !important;
}

.alert,
.alert-success {
    padding: 10px 5px !important;
    margin-bottom: 5px !important;
    font-size: 12px;
}

.alert ul,
.alert-success ul {
    margin-bottom: 0px !important;
    padding-left: 10px !important;
}

.alert ul li,
.alert-success ul li {
    font-size: 12px;
}

.form-div {
    background: var(--secondary);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px 15px;
}

.form-div label {
    color: var(--label);
    font-weight: var(--fw-sm);
    margin-bottom: 5px;
}

.form-div .form-control,
.form-div .form-select,
.form-div .checkdrp {
    background-color: var(--input-bg) !important;
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 1px solid var(--input-border);
}

.form-div select option {
    font-weight: var(--fw-md);
}

.tble-dpd .checkdrp {
    font-size: 12px !important;
    padding: 5px !important;
}

.form-div .dropdown-menu,
.tble-dpd .dropdown-menu {
    color: var(--text-primary);
    border: 1px solid var(--input-border);
}

.dropdown-menu label {
    color: var(--main) !important;
    font-weight: var(--fw-md) !important;
}

.inpflex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--input-border);
    border-radius: 0.375rem;
}

.inpflex input {
    width: 85%;
    border-right: 1px solid var(--input-border) !important;
    border-radius: 0.375rem 0px 0px 0.375rem;
}

.inpflex i {
    width: 15%;
    text-align: center;
}

.inpflex select {
    width: 15%;
    text-align: left;
    background-color: var(--secondary) !important;
    font-size: 10px !important;
    padding: 2px 2px 2px 8px;
}

@media screen and (min-width: 1140px) {

    .form-div label {
        font-size: 14px;
    }

    .form-div .form-control,
    .form-div .form-select,
    .form-div .checkdrp {
        font-size: 14px;
    }

    .dropdown-menu label {
        font-size: 12px !important;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    .form-div label {
        font-size: 12px;
    }

    .form-div .form-control,
    .form-div .form-select,
    .form-div .checkdrp {
        font-size: 12px;
    }

    .dropdown-menu label {
        font-size: 10px !important;
    }

}

@media screen and (max-width: 767px) {

    .form-div label {
        font-size: 12px;
    }

    .form-div .form-control,
    .form-div .form-select,
    .form-div .checkdrp {
        font-size: 12px;
    }

    .dropdown-menu label {
        font-size: 10px !important;
    }

}