.main {
    width: 100%;
    display: grid;
    grid-template-columns: 17% 83%;
    justify-content: space-evenly;
}

.body-main {
    width: 100%;
    margin: 0px auto;
    background-color: var(--bg);
    box-shadow: inset .75rem 0 1.5rem 0 rgba(0, 0, 0, .075);
}

.body-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-div .body-head h4 {
    color: var(--text-primary);
    font-weight: var(--fw-xl);
    margin-bottom: 0px;
}

.main-div .body-head h5 {
    color: var(--sub);
    font-weight: var(--fw-xl);
    text-decoration: 1.5px underline solid var(--input-border);
    margin-bottom: 0px;
}

.main-div .body-head h6 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
    margin-bottom: 0px;
}

@media screen and (min-width: 1140px) {

    /* Main Side-Body */
    .main-div {
        margin-top: 30px;
    }

    .main-div .body-head h4 {
        font-size: 18px;
    }

    .main-div .body-head h5 {
        font-size: 16px;
    }

    .main-div .body-head h6 {
        font-size: 14px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    /* Main Side-Body */
    .main {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .body-main {
        width: 98%;
    }

    .main-div {
        margin-top: 10px;
        padding: 5px 8px !important;
    }

    .main-div .body-head h4 {
        font-size: 18px;
    }

    .main-div .body-head h5 {
        font-size: 16px;
    }

    .main-div .body-head h6 {
        font-size: 14px;
    }

}

@media screen and (max-width: 767px) {

    /* Main Side-Body */
    .main {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .body-main {
        width: 98%;
    }

    .main-div {
        margin-top: 10px;
        padding: 10px !important;
    }

    .body-head {
        gap: 10px;
    }

    .main-div .body-head h4 {
        font-size: 16px;
    }

    .main-div .body-head h5 {
        font-size: 16px;
    }

    .main-div .body-head h6 {
        font-size: 14px;
    }

}