.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.delete-main {
    background-color: var(--secondary);
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delete-header h4 {
    color: var(--sub);
    font-weight: var(--fw-xl);
    font-size: 20px;
}

.delete-content h4 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
    font-size: 16px;
}

.delete-content h5 {
    color: var(--sub);
    font-weight: var(--fw-lg);
    font-size: 14px;
}

.delete-content h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    font-size: 12px;
    line-height: 20px;
}

.delete-content ul li {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    font-size: 12px;
}

.delete-content label {
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    font-size: 12px;
    margin-bottom: 5px;
}

.delete-content .form-control {
    background-color: var(--input-bg);
    color: var(--text-primary);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.delete-content .form-control:focus {
    border: 1px solid var(--main);
    outline: none;
    box-shadow: none;
}

.delete-content .form-control::placeholder {
    font-size: 12px !important;
}

@media screen and (min-width: 1098px) {
    .main {
        width: 50%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .main {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .main {
        width: 90%;
    }
}