input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-ms-clear {
    display: none;
}

form hr {
    margin: 1rem 0;
    color: var(--border);
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 1;
}

/* .form-div {
    background: var(--secondary);
} */

.form-div label {
    color: var(--text-primary);
    font-weight: var(--fw-md);
    margin-bottom: 5px;
    font-size: 12px;
}

.form-div small {
    color: var(--red);
    font-weight: var(--fw-md);
    margin-top: 5px;
    font-size: 8px;
    line-height: 15px !important;
}

.form-div .form-control,
.form-div .form-select {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-size: 12px;
    font-weight: var(--fw-sm);
    border: 1px solid var(--border);
    padding: 6px 10px;
}

.form-div .form-control::placeholder {
    font-size: 10px !important;
}

.form-control:focus,
.form-select:focus {
    border: 1px solid var(--main);
    outline: none;
    box-shadow: none;
}

.form-div .inpflex:focus-within,
.form-div .inpleftflex:focus-within,
.form-div .inptripleflex:focus-within {
    border: 1px solid var(--main) !important;
}

.form-div .inpflex:focus-within,
.form-div .inpleftflex:focus-within,
.form-div .inptripleflex:focus-within {
    .form-control:focus {
        border: none !important;
    }
}

.form-div .inpflex,
.form-div .inpleftflex,
.form-div .inptripleflex {
    width: 100%;
    background-color: var(--secondary);
    display: grid;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 0.375rem;
}

.form-div .inpflex {
    grid-template-columns: 85% 15%;
}

.form-div .inpleftflex {
    grid-template-columns: 10% 90%;
}

.form-div .inptripleflex {
    grid-template-columns: 10% 80% 10%;
}

.form-div .inpflex input {
    border-right: 1px solid var(--border) !important;
    border-radius: 0.375rem 0px 0px 0.375rem;
}

.form-div .inpflex,
.form-div .inpleftflex,
.form-div .inptripleflex {
    i {
        color: #B1B1B1;
        font-size: 12px;
        text-align: center;
    }
}

#imgContainer {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    align-items: start;
    justify-content: space-between;
}

#imgContainer .custom-file-upload span {
    font-size: 10px;
}

/* File Upload */
.custom-file-upload {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--border);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.custom-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .icon svg,
.custom-file-upload .icon img {
    fill: var(--main) !important;
}

.custom-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .text span {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: var(--fw-sm);
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file-upload input {
    display: none;
}