.individual-product-main {
    display: grid;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.individual-product-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-image-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.gallery-div {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin-bottom: 10px;
}

.gallery-div:last-child {
    margin-bottom: 0px !important;
}

.gallery-div img {
    height: 100%;
    width: 90%;
    display: block;
    margin: auto;
    object-fit: contain;
    object-position: center;
}

.product-image-main-div {
    background-color: var(--gray);
    border: 1px solid var(--border);
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.product-image-main-div img {
    width: 75%;
    object-fit: contain;
    object-position: center;
}

.price-div {
    display: grid;
    align-items: start;
    justify-content: space-between;
}

.individual-product-tabs {
    margin-top: 50px;
}

@media screen and (min-width: 1140px) {

    .individual-product-main {
        grid-template-columns: 49% 49%;
    }

    .product-image-gallery {
        width: 20%;
    }

    .gallery-div {
        height: 125px;
    }

    .product-image-main {
        width: 78%;
        height: 425px;
    }

    .price-div {
        grid-template-columns: 70% 30%;
    }

    .individual-product-tabs {
        width: 75%;
        margin-inline: auto;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    .individual-product-main {
        grid-template-columns: 49% 49%;
    }

    .product-image-gallery {
        width: 20%;
    }

    .gallery-div {
        height: 110px;
    }

    .product-image-main {
        width: 78%;
        height: 400px;
    }

    .price-div {
        grid-template-columns: 70% 30%;
    }
    
    .individual-product-tabs {
        width: 85%;
        margin-inline: auto;
    }

}

@media screen and (max-width: 767px) {

    .individual-product-main {
        display: block;
    }

    .individual-product-left {
        flex-direction: row-reverse;
        margin-bottom: 15px;
    }

    .product-image-gallery {
        width: 30%;
    }

    .gallery-div {
        height: 75px;
    }

    .product-image-main {
        width: 68%;
        height: 250px;
    }

    .price-div {
        grid-template-columns: 70% 30%;
    }
    
    .individual-product-tabs {
        width: 100%;
        margin-inline: auto;
    }

}