.reels-div::-webkit-scrollbar {
    display: none;
}

.reels-div {
    scrollbar-width: none !important;
}

.reels-div {
    position: relative;
    margin: auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.reel-item {
    scroll-snap-align: start;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.video-div {
    height: 100%;
    margin: auto;
    background-color: var(--primary);
    border-radius: 5px;
}

.video-div video,
.video-div .img-fluid {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    border-radius: 5px;
}

.video-div .user-details {
    width: 53%;
    position: absolute;
}

.user-details h5 {
    color: var(--secondary);
    font-size: 12px;
    font-weight: var(--fw-lg);
    margin-bottom: 0px;
}

.user-details h6 {
    color: var(--secondary);
    font-size: 10px;
    font-weight: var(--fw-sm);
    margin-bottom: 0px;
}

.user-details .caption {
    width: 100%;
    color: var(--secondary);
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: var(--fw-ms);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}

.user-details .caption.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.user-details .see-more {
    color: #e8e5e5c4;
    font-size: 10px;
    font-weight: var(--fw-ms);
    margin-bottom: 0px;
}

.actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions a h6 {
    color: var(--text-primary);
}

.play-pause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary);
    font-size: 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.video-div:hover .play-pause-btn {
    opacity: 1 !important;
    visibility: visible !important;
}

.reel-item img + .play-pause-btn {
    display: none !important;
}

.video-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.video-loader.hidden {
    display: none;
}

.likes-count {
    cursor: pointer;
}

.like-btn.active {
    color: var(--red);
    transform: scale(1.2);
    animation: pulse 0.3s ease-in-out;
}

.save-btn.active {
    color: var(--main);
    transform: scale(1.2);
    animation: pulse 0.3s ease-in-out;
}

@media screen and (min-width: 1140px) {

    .reels-div {
        height: 85vh;
        width: 50%;
    }

    .video-div {
        width: 60%;
    }

    .video-div .user-details {
        left: 23%;
        bottom: 4%;
    }

    .actions {
        left: 83%;
        bottom: 5%;
        gap: 15px;
    }

    .actions a h6 {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    .reels-div {
        height: 85vh;
        width: 80%;
    }

    .video-div {
        width: 60%;
    }

    .video-div .user-details {
        left: 23%;
        bottom: 4%;
    }

    .actions {
        left: 82%;
        bottom: 5%;
        gap: 15px;
    }

    .user-content h6,
    .actions a h6 {
        font-size: 12px;
    }

}

@media screen and (max-width: 767px) {

    .reels-div {
        height: 85vh;
        width: 100%;
    }

    .video-div {
        width: 100%;
        border-radius: 0px;
    }

    .video-div video {
        border-radius: 0px;
    }

    .video-div .user-details {
        width: 80% !important;
        left: 5%;
        bottom: 4%;
    }

    .reel-item {
        margin-block: 5px !important;
    }

    .user-details .caption {
        width: 85%;
    }

    .actions {
        left: 89%;
        bottom: 10%;
        gap: 15px;
    }

    .user-content h6,
    .actions a h6 {
        color: var(--secondary);
        font-size: 8px;
    }

}