.login-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-div {
    width: 90%;
    display: grid;
    grid-template-columns: 48% 49%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 5px;
}

.grid-content {
    display: grid;
    grid-template-columns: 49% 49%;
    align-items: center;
    justify-content: space-between;
}

.login-head h3 {
    color: var(--text-primary);
    font-weight: var(--fw-sm);
    margin-bottom: 15px;
}

.login-head h5 {
    color: var(--text-primary);
    font-weight: var(--fw-xl);
    text-transform: uppercase;
    text-decoration: 2px underline var(--main);
    margin-bottom: 20px;
}

.login-head h6,
.login-div h6 {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: var(--fw-md);
    margin-bottom: 20px;
}

.login-div label {
    color: var(--primary);
    font-size: 12px;
    font-weight: var(--fw-md);
    margin-bottom: 5px;
}

.login-div a {
    color: var(--text-primary);
    font-size: 12px;
    text-decoration: 2px underline var(--main);
}

.login-div a:hover {
    color: var(--main);
}

.login-div .form-control,
.login-div .form-select {
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 12px;
    font-weight: var(--fw-sm);
    border: 1px solid var(--border);
    padding: 6px 15px;
}

.login-div .form-control::placeholder {
    font-size: 10px !important;
}

.login-div small {
    color: var(--red);
    font-weight: var(--fw-md);
    margin-top: 5px;
    font-size: 10px;
    line-height: 15px !important;
}

.login-div .inpflex {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 0.375rem;
}

.login-div .inptripleflex {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 0.375rem;
}

.login-div .inptripleflex i,
.login-div .inpflex i {
    color: #B1B1B1;
    font-size: 12px;
    text-align: center;
}

.login-div .form-control:focus,
.login-div .form-select:focus {
    border: 1px solid var(--main);
    outline: none;
    box-shadow: none;
}

.login-div .inptripleflex:focus-within,
.login-div .inpflex:focus-within {
    border: 1px solid var(--main) !important;
}

.login-div .inptripleflex:focus-within,
.login-div .inpflex:focus-within {
    .form-control:focus {
        border: none !important;
    }
}

@media screen and (min-width: 1098px) {

    .login-main {
        height: 80vh;
    }

    .login-head h3 {
        font-size: 25px;
    }

    .login-head h5 {
        font-size: 20px;
    }

    .login-right {
        width: 65%;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .login-main {
        height: 85vh;
    }

    .login-head h3 {
        font-size: 18px;
    }

    .login-head h5 {
        font-size: 14px;
    }

    .login-right {
        width: 80%;
    }

}

@media screen and (max-width: 767px) {

    .login-main {
        height: 100%;
        padding-top: 10px;
    }

    .grid-content {
        display: block;
    }

    .login-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    .login-left img {
        width: 90%;
    }

    .login-head h3 {
        font-size: 18px;
    }

    .login-head h5 {
        font-size: 14px;
    }

    .login-right {
        width: 95%;
    }

}