.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: auto;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    background-color: var(--secondary);
    color: var(--text-primary);
    border: 1px solid var(--border);
    font-weight: var(--fw-sm);
    border-radius: 6px;
    font-size: 12px;
    padding-inline: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 10px;
    width: 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.select2-container--default .select2-selection--multiple {
    margin-left: 0px;
    margin-top: 0px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: var(--secondary);
}

.select2-results__option {
    font-size: 12px;
    font-weight: var(--fw-md);
    padding: 5px;
}

.select2-selection__clear {
    display: none;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid var(--main);
}

/* Search Field */
.select2-container--default .select2-search--dropdown .select2-search__field {
    font-size: 12px;
    font-weight: var(--fw-sm);
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border: none;
}
/* ------------- */
