* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--secondary);
    font-family: var(--primary-font);
    transition: var(--transition);
    position: relative !important;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

label span,
span.mandatory {
    color: var(--mandatory);
}

/* Number Input Spinner */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder {
    font-size: 13px !important;
}

/* Color BG */
.bg-success,
.text-success {
    color: var(--green) !important;
}

.bg-danger,
.text-danger {
    color: var(--red) !important;
}

.bg-warning,
.text-warning {
    color: var(--main) !important;
}

.border {
    border: 1px solid var(--border) !important;
}

/* Color Labels */
.green-label {
    background-color: var(--light-green) !important;
    color: var(--green) !important;
}

.red-label {
    background-color: var(--light-red) !important;
    color: var(--red) !important;
}

.yellow-label {
    background-color: var(--light-yellow) !important;
    color: var(--primary) !important;
}

.grey-label {
    background-color: var(--light-grey) !important;
    color: var(--primary) !important;
}

.green-label,
.red-label,
.yellow-label,
.grey-label {
    font-size: 10px !important;
    padding: 5px 10px;
    border: none !important;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: var(--fw-md) !important;
}

.hashtag-link {
    color: #6C87F5 !important;
}

.hashtag-link:hover {
    color: var(--blue) !important;
}

/* Highlight Badge */
.badge {
    position: absolute;
    top: 4%;
    right: 0%;
    background-color: var(--main) !important;
    color: var(--text-primary) !important;
    padding: 5px 15px;
    border-radius: 5px 0px 0px 5px;
    font-size: 10px !important;
    font-weight: var(--fw-md) !important;
}

.alert {
    font-size: 12px;
    padding: 10px !important;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
}

/* Blur Condition */
.blurred {
    filter: blur(10px);
    pointer-events: none;
    transition: filter 0.3s ease;
}

/* Sensitive */
.sensitive-overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(18px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 5s ease-in-out;
    border-radius: 5px;
}

.overlay-content h5 {
    color: var(--secondary) !important;
    font-size: 16px;
    font-weight: var(--fw-md);
}

.overlay-content h6 {
    color: var(--secondary) !important;
    font-size: 14px;
    font-weight: var(--fw-sm);
}

/* Toastr */
.toast-main {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.toast {
    --bs-toast-border-radius: 10px !important;
}

.toast-body {
    background: var(--primary) !important;
    color: var(--secondary);
    font-size: 12px !important;
    text-transform: capitalize;
    border-radius: 10px !important;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.04);
}

/* Count Circle */
.count-sm {
    background-color: var(--primary);
    color: var(--secondary) !important;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-md);
    z-index: 1;
    font-size: 8px !important;
    width: 25px;
    height: 16px;
}

.count-md {
    background-color: var(--primary);
    color: var(--secondary) !important;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-md);
    z-index: 1;
    font-size: 9px !important;
    width: 28px;
    height: 20px;
}

.followingbtn:hover .count {
    background-color: var(--secondary);
    color: var(--primary) !important;
}

/* Spinner */
.spinner-border-sm {
    --bs-spinner-width: 10px;
    --bs-spinner-height: 10px;
    --bs-spinner-border-width: 0.2em;
}

/* Chat bot */
.pulse-lb-div {
    width: 0px !important;
    height: 0px !important;
    position: fixed;
    bottom: 5% !important;
    left: 2% !important;
    z-index: 998 !important;
}

.smat-lb-div {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.smat-lb-div::after {
    width: 0px !important;
    height: 0px !important;
}

.smat-main-lb-btn {
    height: 90px !important;
    width: 70px !important;
    /* transform: rotate(360deg) !important; */
}

.launcher-label-main-div {
    padding: 5px !important;
    width: 100px !important;
}

.launcher-label-main {
    font-size: 12px !important;
    font-weight: var(--fw-sm) !important;
}

.options-div-smatest {
    padding: 8px 15px !important;
}

.options-div-smatest div br {
    display: none !important;
}

.logo-smatest {
    height: 35px !important;
    width: 25px !important;
}

.question-icon-smatest {
    height: 30px !important;
    width: 20px !important;
}

body.smatbot-open .pac-container {
    position: absolute !important;
    top: 0% !important;
}

/* .opened-lb-div {
    bottom: 100px !important;
} */