name: Laravel CI/CD

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Restart containers
      run: docker compose restart app nginx

    - name: Wait for app
      run: Start-Sleep -Seconds 5
      shell: powershell

    - name: Run migrations (if any new)
      run: docker compose exec -T app php artisan migrate --force

    - name: Clear cache
      run: docker compose exec -T app php artisan cache:clear

    - name: Done
      run: Write-Host " Changes deployed! http://localhost:8000"
      shell: powershell