name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Deploy
      run: |
        docker-compose down
        $imageExists = docker images -q onstru_docker-app:latest
        if (-not $imageExists) {
          docker-compose build
        }
        docker-compose up -d
        Start-Sleep -Seconds 10
        docker-compose exec -T app php artisan optimize:clear
      shell: powershell
    
    - name: Done
      run: echo "Deployed successfully"