name: Laravel CI/CD

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Stop and remove old containers
      run: |
        docker compose down -v
        docker rm -f laravel_app laravel_nginx laravel_mysql laravel_phpmyadmin
      continue-on-error: true

    - name: Build containers
      run: docker compose up -d --build

    - name: Wait for containers
      run: Start-Sleep -Seconds 20
      shell: powershell

    - name: Install composer packages
      run: docker compose exec -T app composer install --no-interaction --prefer-dist

    - name: Copy environment file
      run: docker compose exec -T app cp .env.example .env
      continue-on-error: true

    - name: Generate app key
      run: docker compose exec -T app php artisan key:generate --force

    - name: Run migrations
      run: docker compose exec -T app php artisan migrate --force

    - name: Cache config
      run: docker compose exec -T app php artisan config:cache

    - name: Show running containers
      run: docker compose ps

    - name: Success
      run: Write-Host " Done! Visit http://localhost:8000"
      shell: powershell